/* Home page banner styling */
.home-banner {
  width: 100%;

  margin: 0 0 1rem 0;
  overflow: hidden;
  box-shadow: var(--shadow-l1);

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
